name: blocapp
description: An app skeleton of flutter app based on bloc & flutter_bloc.
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.10.0 <4.0.0"

isar_version: &isar_version 3.3.0-dev.3

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  path:
  intl: # 国际化
  path_provider:
  video_player:
  photo_manager:
  wechat_assets_picker: ^9.5.0
  logging: # 日志工具

  dio: ^5.8.0+1 # 网络库
  dartssh2:
  web_socket_channel:
  pointycastle: # 加密库

  bloc: ^9.1.0
  flutter_bloc: ^9.1.0
  shared_preferences: ^2.0.17 # 本地存储
  isar_community: *isar_version
  isar_community_flutter_libs: *isar_version
  flutter_secure_storage: ^9.2.4
  permission_handler: ^12.0.1
  device_info_plus:
  geolocator:

  image:
  skeletons: #^0.0.3          # 骨架页构造工具
    git:
      url: git@github.com:shirne/flutter_skeletons.git
      ref: 5ecc839f9961a91e052de9eb2ad7c84eee8b2bc8
  # appscheme: ^1.1.0 # applink处理
  file_picker: ^10.3.3 # 文件选择

  shirne_dialog: ^4.5.0 # 对话框

  # flutter_widget_from_html: ^0.15.3
  flutter_widget_from_html_core: ^0.17.0 # 简单html全平台解析
  flutter_inappwebview: ^6.1.5 # 内置webview

  window_manager:

dev_dependencies:
  flutter_test:
    sdk: flutter

  build_runner:
  isar_community_generator: #*isar_version
    git:
      url: git@github.com:shirne/isar-community.git
      ref: 236a14e7ee0a3c6289b037f01677f2867db8e40a
      path: packages/isar_community_generator
  flutter_lints:
  icons_launcher:
  flutter_native_splash:
  archive:
  yaml:
  args:

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

flutter:
  uses-material-design: true

  generate: true

  assets:
    - assets/images/
    - assets/json/

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages

# flutter pub run icons_launcher:create
icons_launcher:
  image_path: "assets/images/icon.png"
  platforms:
    android:
      enable: true
      image_path: "assets/images/icon.png"
      adaptive_background_color: "#3778FB"
      #adaptive_background_image
      adaptive_foreground_image: "assets/images/icon_foreground.png"
      #adaptive_round_image
    ios:
      enable: true
    macos:
      enable: true
    windows:
      enable: true
    web:
      enable: true
      favicon_path: "assets/images/icon.png"
